.idea
.vscode
/packages/schmidtwebmedia/Resources/Public/css/style.css
/packages/schmidtwebmedia/Resources/Public/css/style.css.map
/packages/schmidtwebmedia/Resources/Public/css/style.min.css
/packages/schmidtwebmedia/Resources/Public/css/ckeditor.css
/packages/schmidtwebmedia/Resources/Public/css/ckeditor.css.map
/packages/schmidtwebmedia/Resources/Public/css/ckeditor.min.css
/packages/schmidtwebmedia/Resources/Public/js/main.min.js
/packages/cceexport/
/public/typo3/
/public/typo3conf/
/packages/schmidtwebmedia/Resources/Public/js/baguetteBox.min.js
/composer.lock
/vendor/
/.ddev/
/public/fileadmin/user_upload/
/public/fileadmin/.htaccess
/public/index.php
/public/typo3temp/
/public/fileadmin/_temp_/
/var/
/public/fileadmin/_processed_/
