/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}/open-sans-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('#{$font-path}/open-sans-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}/open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$font-path}/open-sans-v18-latin-300.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}/open-sans-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}/open-sans-v18-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('#{$font-path}/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$font-path}/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('#{$font-path}/open-sans-v18-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('#{$font-path}/open-sans-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}/open-sans-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$font-path}/open-sans-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}/open-sans-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}/open-sans-v18-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/open-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('#{$font-path}/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$font-path}/open-sans-v18-latin-700.woff') format('woff'), /* Modern Browsers */
  url('#{$font-path}/open-sans-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$font-path}/open-sans-v18-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* latin */
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$font-path}/ArchitectsDaughter-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
