$primary-color: #000;
$highlight-color: #f4e601;

$font-light: 300;

$font-size-small: 8px;
$font-size-smaller: 12px;
$font-size-big: 16px;
$font-size-bigger: 20px;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,400,400i,700,700i&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: #3e3e3e;
  font-size: 14px;
}

a {
  color: $primary-color;
  .button {
	border: 1px solid #ddd;
  }
}

.big-text {
  font-size: $font-size-big;
}

.bigger-text {
  font-size: $font-size-bigger;
}

.smaller-text {
  font-size: $font-size-smaller;
}

.small-text {
  font-size: $font-size-small;
}

.light-text {
  font-weight: $font-light;
}

.text- {
  &left { text-align: left; }
  &center { text-align: center; }
  &right { text-align: right; }
}

.highlight {
  font-weight: bold;
  display: inline-block;
  &::after {
    content: '';
    border-bottom: 3px solid $highlight-color;
    width: 100%;
    display: block;
  }
}
