$primary-color: #000;

$font-light: 300;

$font-size-small: 0.6rem;
$font-size-smaller: 0.8rem;
$font-size-big: 1.1rem;
$font-size-bigger: 1.3rem;

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,400,400i,700,700i&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: #3e3e3e;
  font-size: 14px;
}

a {
  color: $primary-color;
  .button {
	border: 1px solid #ddd;
  }
}

.big-text {
  font-size: $font-size-big;
}

.bigger-text {
  font-size: $font-size-bigger;
}

.smaller-text {
  font-size: $font-size-smaller;
}

.small-text {
  font-size: $font-size-small;
}

.light-text {
  font-weight: $font-light;
}

.text- {
  &left { text-align: left; }
  &center { text-align: center; }
  &right { text-align: right; }
}
