/* ==========================================================================
   Default Imports
   ========================================================================== */
   
@import '_bootstrap/scss/functions';
@import '_bootstrap/scss/variables';

$enable-responsive-font-sizes: true;
$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px,
		xxl: 1920px
);


@import '_bootstrap/scss/mixins';
@import '_bootstrap/scss/bootstrap';