@charset "UTF-8";
@function getIcon($str) {
  @return unquote("\"")+unquote(str-insert($str, "\\", 1))+unquote("\"");
}
/* ==========================================================================
   Default Imports
   ========================================================================== */

@import '_bootstrap/scss/functions';
@import '_bootstrap/scss/variables';

$enable-responsive-font-sizes: true;
/*
$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px,
		xxl: 1920px
);
*/
@import '_bootstrap/scss/bootstrap-reboot';
@import '_bootstrap/scss/utilities';
@import '_bootstrap/scss/mixins';
@import '_bootstrap/scss/type';
@import '_bootstrap/scss/bootstrap-grid';
@import '_bootstrap/scss/images';
@import '_bootstrap/scss/forms';
@import '_bootstrap/scss/nav';
@import '_bootstrap/scss/navbar';
@import '_bootstrap/scss/pagination';
@import '_bootstrap/scss/breadcrumb';
@import '_bootstrap/scss/transitions';
@import '_bootstrap/scss/tables';
@import '_bootstrap/scss/button-group';
@import '_bootstrap/scss/buttons';
@import '_bootstrap/scss/badge';
@import '_baguettebox/baguetteBox';

/* ==========================================================================
   Colors
   ========================================================================== */

$primary-color: #f4e601;
$secondary-color: #c6c6c6;
$font-color: #333;
$footer-background: #86A47C;
$border-color: #f9f8f4;
$light-grey: #f9f9f9;
$grey: $secondary-color;


/* ==========================================================================
   Fonts
   ========================================================================== */

$font-path: "fonts";
@import "font";

/* ==========================================================================
   FontAwesome
   ========================================================================== */

$fa-font-path:        "webfonts";
@import "_fontawesome/scss/fontawesome";
@import "_fontawesome/scss/solid";
@import "_fontawesome/scss/regular";
@import "_fontawesome/scss/brands";

/* ==========================================================================
   Font-Weight
   ========================================================================== */

$font-light: 300;
$font-normal: 400;
$font-bold: 700;

/* ==========================================================================
   Font-Size
   ========================================================================== */

$font-size-normal: 1rem;
$font-size-smaller: ($font-size-normal * 0.8);
$font-size-small: ($font-size-smaller * 0.8);
$font-size-bigger: ($font-size-normal * 1.2);
$font-size-big: ($font-size-bigger * 1.2);

$h1-size: 2.25rem;
$h2-font-size: ($h1-font-size * 0.8);
$h3-font-size: ($h2-font-size * 0.7);


/* ==========================================================================
   Shadow
   ========================================================================== */

$z0: none;
$z1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$z2: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
$z3: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
$z4: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
$z5: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);

/* ==========================================================================
   Border sizes
   ========================================================================== */

$border-wide: 8px;
$border-width: 100px;
$border-height: 100px;
$border-gap: -10px;

/* ==========================================================================
   Spacing
   ========================================================================== */

.frame-space-before- {
  &extra-small { 	margin-top: 1rem; }
  &small {  		margin-top: 2rem; }
  &medium {  		margin-top: 3rem; }
  &large {  		margin-top: 4rem; }
  &extra-large { 	margin-top: 5rem; }
}

.frame-space-after- {
  &extra-small { 	margin-bottom: 1rem; }
  &small {  		margin-bottom: 2rem; }
  &medium {			margin-bottom: 3rem; }
  &large {  		margin-bottom: 4rem; }
  &extra-large { 	margin-bottom: 5rem; }
}

/* ==========================================================================
   Alignments
   ========================================================================== */

.ce-headline- {
  &left { text-align: left; }
  &center { text-align: center; }
  &right { text-align: right; }
}

/* ==========================================================================
   Borders
   ========================================================================== */

.frame-ruler-after {
  border-bottom: 2px solid $primary-color;
}

/* ==========================================================================
   Layouts
   ========================================================================== */

.frame {
  /** Grey Background **/
  &.frame-layout-1 {
	background-color: $light-grey;
	border: 1px solid $grey;
	padding: 0.5rem;
  }
}

/* ==========================================================================
   Badges
   ========================================================================== */

.badge {
  color: $font-color;
  &.badge-grey {
	background-color: $grey;
  }
}

/* ==========================================================================
   General
   ========================================================================== */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @include font-size($font-size-normal);
  color: $font-color;
  font-family: 'Open Sans', sans-serif;

}

main {
  margin-bottom: 3rem;
  flex-shrink: 0;
  &.content-default {
	margin-top: 6rem;
  }
}

p {
  line-height: 1.6;
}

figure.image {
  margin: 0;
}

/* ==========================================================================
   Headlines
   ========================================================================== */

h1 {
  color: $font-color;
  @include font-size($h1-size);
}

h2 {
  font-weight: $font-light;
  margin-top: 1.5rem;
  @include font-size($h2-font-size);

  &::after {
	content: '';
	border-bottom: 3px solid $primary-color;
	width: 10%;
	display: block;
  }
}

h3 {
  font-weight: $font-light;
  @include font-size($h3-font-size);
  line-height: 1;
  margin-bottom: 0;
  margin-top: 1rem;
}

/* ==========================================================================
   Text sizing
   ========================================================================== */

.bigger-text {
  @include font-size($font-size-bigger);
}

.big-text {
  @include font-size($font-size-big);
}

.smaller-text {
  @include font-size($font-size-smaller);
}

.small-text {
  @include font-size($font-size-small);
}

.light-text {
  font-weight: $font-light;
}

.highlight {
  font-weight: $font-weight-bold;
  display: inline-block;
  &::after {
	content: '';
	border-bottom: 3px solid $primary-color;
	width: 100%;
	display: block;
  }
}

/* ==========================================================================
   Button/Link Default
   ========================================================================== */

a {
  color: $font-color;
  text-decoration: underline;
  &:hover {
	color: darken($font-color, 10);
	text-decoration: underline;
	text-decoration-color: darken($font-color, 10);
  }
}

.btn,
.button {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 15px;
  display: inline-block;
  border-radius: 0;
  width: auto;
  text-decoration: none;
  &:hover {
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
	text-decoration: none;
  }
  &:focus,
  &:active {
	outline: none;
  }
  &.btn-primary,
  &.button-primary {
	background-color: $primary-color;
	border-color: $primary-color;
	color: $font-color;
	box-shadow: $z1;
	&:hover {
	  color: $font-color;
	  background-color: darken($primary-color, 10);
	  border-color: darken($primary-color, 10);
	}
  }
  &.button-secondary {
	color: $primary-color;
	background-color: #fff;
	border-color: $primary-color;
	&:hover {
	  background-color: $primary-color;
	  color: #fff;
	}
  }
  &.button-primary-outline {
	border: 1px solid $secondary-color;
	background-color: transparent;
	color: $primary-color;
	&:hover {
	  color: $primary-color;
	  background-color: $secondary-color;
	}
  }
  &.button-full {
	width: 100%;
	display: block;
  }
}

.btn-group-full {
  width: 100%;
}

/* ==========================================================================
   Header
   ========================================================================== */
#page-1 #header {
  position: fixed;
}

#header {
  position: fixed;
  width: 100%;
  box-shadow: $z5;
  z-index: 10000;
  transition: background 150ms ease-in-out;
  background-color: $font-color;
  padding: 0.5rem 0;
  .brand-wrapper {
	padding: 0.4rem;
	@include media-breakpoint-down(lg) {
	  text-align: center;
	}
  }
  .img-brand {
	max-height: 50px;
	@include media-breakpoint-down(lg) {
	  width: auto;
	}
  }

  .nav {
	justify-content: space-evenly;

	.nav-item {
	  border-bottom: 1px solid transparent;
	  .nav-link {
		color: #F9F8F4;
		padding: 0.5rem 0;
		font-weight: $font-bold;
		@include font-size(16px);
		&,
		&:hover {
		  text-decoration: none;
		}
	  }
	  &.active,
	  &:hover {
		border-bottom-color: $primary-color;
		.nav-link {
		  color: $primary-color;
		}
	  }
	  &.nav-item-primary {
		.nav-link {
		  color: $primary-color;
		}
	  }
	}
  }

  .navigation-container {
	display: flex;
	flex-direction: column;
	.header-information {
	  padding-bottom: 0.5rem;
	  display: flex;
	  justify-content: space-evenly;
	  @include font-size(0.8rem);
	  i {
		color: $primary-color;
	  }
	  .header-information-item--value, {
		&,
		a {
		  color: #F9F8F4;
		  font-weight: $font-weight-light;
		}
	  }

	  @include media-breakpoint-down(lg) {
		display: block;
	  }
	}

	@include media-breakpoint-down(lg) {
	  flex-direction: row;
	  margin-top: 0.5rem;
	}
  }

  &.transparent {
	background-color: rgba(0, 0, 0, 0.5 );
	@include media-breakpoint-down(lg) {
	  background-color: $font-color;
	}
  }
}

.title {
  display: block;
  @include font-size($h2-font-size);
}

/* ==========================================================================
   Mobile Navigation
   ========================================================================== */
.button.button-responsive-menu {
  display: inline-block;
  width: auto;
  margin-top: 0;
  margin-left: auto;
}

@include media-breakpoint-down(lg) {
  .navigation-container .nav {
	display: none;
  }
}

@include media-breakpoint-up(lg) {
  .button.button-responsive-menu {
	display: none;
  }
}

.button-navigation {
  width: 50%;
  display: inline-block;
}

.menu-open {
  overflow: hidden;
  .menu-wrapper {
	opacity: 1;
	height: 100vh;
	z-index: 99999999;
	visibility: visible;
	top: 0;
	.button-menu-close {
	  background-color: transparent;
	  border: 0;
	  @include font-size(2.5em);
	  right: 35px;
	  padding: 15px;
	  position: absolute;
	  width: auto;
	  color: $primary-color;
	  &:hover {
		background-color: transparent;
		border: 0;
		color: #fff;
	  }
	}
  }
}

.menu-wrapper {
  opacity: 0;
  height: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  .menu-inner {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	.nav-link {
	  color: $primary-color;
	}
  }

  .menu-content {
	height: 100%;
	ul {
	  list-style-type: none;
	  padding-left: 0;
	  li {
		text-align: center;
		margin-bottom: 30px;
		width: auto;
		&:hover {
		  font-weight: 600;
		}
		a {
		  @include font-size(3rem);
		  font-weight: $font-light;
		  &:hover,
		  &:active,
		  &:focus {
			background-color: transparent;
		  }

		}
	  }
	}
  }
  @include media-breakpoint-down(xs) {
	.button-menu {
	  width: 63px;
	}
	.menu-content ul li {
	  margin-bottom: 10px;
	  a {
		font-size: 1.5rem;
	  }
	}
  }
}

/* ==========================================================================
   Breadcrumb
   ========================================================================== */

.breadcrumb {
  .breadcrumb-item--icon {
	margin-right: 0.5rem;
  }
}

/* ==========================================================================
   Section Menu
   ========================================================================== */
.nav-pills {
	.nav-item {
	  .nav-link {
		color: $font-color;
		text-decoration: underline;
	  }
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
  background-color: $secondary-color;
  padding-top: 1rem;
  margin-top: auto;
  .footer-title {
	@include font-size($font-size-bigger);
	padding-bottom: 0.3rem;
	display: block;
	margin-bottom: 0.5rem;

	&::after {
	  content: '';
	  border-bottom: 3px solid $primary-color;
	  width: 10%;
	  display: block;
	}
  }
  .table-footer,
  .ce-table-table-footer {
	width: 100%;
  }

  .footer-information {
	padding-bottom: 1rem;

	@include media-breakpoint-down(md) {
	  .grid-col {
		margin-bottom: 1rem;
	  }
	}
  }

  .footer-legal {
	background-color: $font-color;
	padding-top: 0.5rem;
	@include font-size($font-size-smaller);
	&,
	.nav-item .nav-link,
	.link-social{
	  color: #F9F8F4;
	}
	.text-muted {
	  padding: 0.5rem;
	  line-height: 24px;
	  display: block;
	}

	@include media-breakpoint-down(sm) {
	  text-align: center;
	  padding-bottom: 1rem;

	  .nav-item {
		width: 50%;
	  }
	}
  }
}

/* ==========================================================================
   Header Image
   ========================================================================== */

.container-header {
  overflow: hidden;
  margin-bottom: 2rem;
  .container-header--item {
	background-color: $light-grey;
	height: 100%;
	&.container-header--text {
	  text-align: center;
	  display: flex;
	  justify-content: center;
	  align-content: center;flex-direction: column;
	}
  }
   @include media-breakpoint-down(sm) {
	 .header--text {
	   order: 1;
	 }
	 .header--image {
	   order: 0;
	 }
   }

}

.fullsize-header-image {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  .header-image {
	height: 100vh;
  }

 .text-overlay-container {
   position: absolute;
   bottom: 0;
   width: 100%;
   display: flex;
   .text-overlay {
	 background-color: $light-grey;
	 width: 100%;
	 padding: 1rem 0;
	 text-align: center;
   }
   .icon-overlay {
	 padding: 0 20px;
	 color: $primary-color;
	 position: absolute;
	 top: 25%;
   }

   @include media-breakpoint-up(md) {
	 .text-overlay {
	   animation: fadeInText 4s ease forwards;
	   h1,
	   p {
		 animation: moveText 4s ease forwards;
	   }
	 }
	 .icon-overlay {
	   animation: moveIcon 4s ease forwards;
	 }
   }

   @include media-breakpoint-down(md) {
	 .icon-overlay {
	   display: none;
	 }
   }

   @include media-breakpoint-down(sm) {
	 position: relative;
	 margin-top: -22%;
   }
 }

  @include media-breakpoint-down(sm) {
	height: auto;
	overflow-x: visible;

	.header-image.big-header-image {
	  margin-top: 50px;
	  height: 85vh;
	  background-position: left;
	}
  }
}

@keyframes fadeInText {
  0% {
	transform: translateX(-100%);
  }
  100% {
	transform: translateX(0);
  }
}

@keyframes moveText {
  0% {
	transform: skew(-40deg);
  }
  90% {
	transform: skew(20deg);
  }
  94% {
	transform: skew(-20deg);
  }
  98%{
	transform: skew(10deg);
  }
  100% {
	transform: skew(0);
  }
}

@keyframes moveIcon {
  0% {
	transform: translateX(0vw);
  }
  100% {
	transform: translateX(100vw);
	display: none;
  }
}

.header-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;

  @include media-breakpoint-down(sm) {
	height: 300px;
  }
}

/* ==========================================================================
   News teaser
   ========================================================================== */

.news-list-item {
  margin-top: 1rem;
  .news-title {
	@include font-size($font-size-big);
	display: block;
  }

  .news--meta {
	display: block;
  }

  .news-list-item--teaser {
	margin: 0.5rem 0;
  }

  .news--directLink {
	display: flex;
  }
}

.news.newsdetail {
  .newsdetail--teaser {
	font-weight: $font-light;
  }

  .newsdetail--meta {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 0.5rem 0;
	margin: 0.8rem 0;
  }
}

.news-list-view {
  .news-list-item.news-layout-0 {
	background-color: $light-grey;
	border: 1px solid $grey;
	padding: 0.5rem;
  }
}


/* ==========================================================================
   City Sign
   ========================================================================== */

.city-sign {
  padding: 10px;
  width:100%;
  height:250px;

  .city-sign-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	@include font-size(2rem);
	font-weight: $font-weight-bold;
	width: 100%;
	height: 100%;
	border: 5px solid #000000;

	.city-sign-text {
	  text-align: center;
	}
  }

  &,
  .city-sign-inner {
	position: relative;
	overflow: hidden;
	background:$primary-color;
	border-radius: 5px;
  }

  @include media-breakpoint-down(sm) {
	margin-bottom: 1rem;
  }
}


/* ==========================================================================
   USP
   ========================================================================== */

.usp-list {
  .usp-item {
	padding: 1rem 0;
	display: flex;
	i {
	  @include font-size($font-size-big);
	  color: $font-color;
	}
	.usp-item--text {
	  margin-left: 0.5rem;
	}
  }
}

article {
  margin: 3rem 0;
}

/* ==========================================================================
   Form
   ========================================================================== */
.form-navigation {
  .btn-toolbar {
	justify-content: flex-end;
  }
}

.inputs-list {
  &,
  .form-group {
	display: flex;

	.radio {
	  margin-right: 1rem;
	}
  }

  @include media-breakpoint-down(sm) {
	flex-direction: column;
  }
}

.form-group {
  margin-top: 1rem;
}

fieldset.form-group {
  background-color: $light-grey;
  border: 1px solid $grey;
  padding: 1rem 0.5rem;

  legend:after {
	content: '';
	border-bottom: 3px solid $primary-color;
	width: 10%;
	display: block;
  }
}

.form-check-label {
  > input,
  &:hover {
	cursor: pointer;
  }
}


/* ==========================================================================
   Card
   ========================================================================== */

.frame-type-cceexport_teaser {
  height: 100%;

  @include media-breakpoint-down(lg) {
	padding-bottom: 1rem;
  }
}

.card {
  height: 100%;
  background-color: #f9f9f9;
  border: 1px solid rgba(0,0,0,0.125);
  .fa-icon {
	background-color: #fff;
	text-align: center;
	i {
	  @include font-size(10rem);
	}
  }

  .card-image {
	margin-bottom: 1rem;
  }

  .card-title {
	@include font-size($font-size-bigger);
	font-weight: $font-bold;
	display: block;
	margin-bottom: 1rem;

	&::after {
	  content: '';
	  border-bottom: 3px solid $primary-color;
	  width: 10%;
	  display: block;
	}
  }
  .card-body {
	padding: 0 0.5rem;
  }

  .card-link {
	.card-link--link {
	  @include font-size($font-size-bigger);
	  color: $font-color;
	}
  }
}

/* ==========================================================================
   Row Label/Value
   ========================================================================== */
.row-label-value {
  padding: 1px 0;
  @include media-breakpoint-up(sm) {
	display: flex;
  }
  .col-label {
	font-weight: $font-weight-bold;
	@include media-breakpoint-up(sm) {
	  flex: 0 0 15%;
	  max-width: 15%;
	}
  }
  .col-value {
	@include media-breakpoint-down(sm) {
	  margin-left: 15px;
	}
	@include media-breakpoint-up(sm) {
	  flex: 0 0 75%;
	  max-width: 75%;
	}
  }
}


/* ==========================================================================
   Fahrerlaubnisklassen
   ========================================================================== */
.driving-licence-class {
  background-color: #f9f9f9;
  border: 1px solid rgba(0,0,0,0.125);
  padding: 0.5rem;
  margin: 1rem 0;

  h2 {
	margin-top: 0;
  }
  p {
	margin-bottom: 0;
  }
}



/* ==========================================================================
   Map
   ========================================================================== */

.map-wrapper {
  position: relative;
  .interactive-map {
	height: 400px;
	width: 100%;
	&.map-scroll {
	  &::before,
	  &::after {
		position: absolute;

	  }
	  &::before {
		content: 'Benutze Strg + scroll um zu zoomen';
		@include font-size($font-size-bigger);
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		z-index: 910;
	  }
	  &::after {
		display: flex;
		width: 100%;
		height: 100%;
		content: '';
		background-color: rgba(0,0,0,0.5);
		z-index: 900;
	  }
	}
  }
}
.leaflet-control-attribution.leaflet-control,
.leaflet-control-attribution.leaflet-control a {
  @include font-size(11px);
}

/* ==========================================================================
   Galerie
   ========================================================================== */

.gallery-container {
 &.gallery-layout- {
   &1 {
	 .gallery {
	   height: 400px;
	 }
   }

   &2 {
	 .gallery {
	   height: 325px;
	 }
   }

   &3 {
	 .gallery {
	   height: 250px;
	 }
   }

   &4 {
	 .gallery {
	   height: 125px;
	 }
   }
 }

  .gallery {
	margin: 15px 0;
	.gallery-background-image {
	  height: 100%;
	  background-size: cover;
	  background-position: center;
	}
  }
  .figcaption {
	padding: 0.25rem 0;
	text-align: center;
	font-weight: $font-light;
	display: block;
  }
}

/* ==========================================================================
   Debug
   ========================================================================== */
.extbase-debugger {
  overflow: unset!important;
}

.extbase-debugger-floating {
  z-index: 9999999999!important;
}
